@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
}


:root {
  --greyish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --box-shadow: 8px 8px 11px 0px rgba(0,0,0,0.75);
}

html {
  font-family: 'Manrope', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--greyish-blue);


}

.select-card {
  height: 30rem;
  width: 25rem;
  border-radius: 1rem;
  background-color: var(--dark-grayish-blue) ;
  color: white;
  box-shadow: var(--box-shadow);
}

.header{
  display: block;
  text-align: center;
  font-size: .75rem;
  color:hsl(150, 100%, 66%);
  padding: 2.5rem;

}

form {
  height: 15rem;
  width: 20rem;
  margin: 1rem;

}

.category{
  margin: .5rem;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #fff;
  overflow: hidden;
  float: left;
}

.category label {
  float: left; line-height: 1.5em;
  width: 8.0em; height: 1.5em;
}

input {

}

