@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
}


:root {
  --greyish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --box-shadow: 8px 8px 11px 0px rgba(0,0,0,0.75);
}

html {
  font-family: 'Manrope', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--greyish-blue);


}

.select-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 25rem;
  border-radius: 1rem;
  background-color: var(--dark-grayish-blue) ;
  color: white;
  box-shadow: var(--box-shadow);
}

.header{
  display: block;
  text-align: center;
  font-size: .75rem;
  color:hsl(150, 100%, 66%);
  padding: 2.5rem;

}

form {
  height: 18rem;
  width: 20rem;
  margin: 1rem;
  display: grid;
  grid-template-areas: "checkbox checkbox"
                        "checkbox checkbox"
                        "seperation seperation"
                        "button button";


 grid-template-columns: 1fr 1fr;
 grid-template-rows: 2fr 2fr 1fr 1fr;

}

.category{
  text-align: center;
  margin: auto;
  margin: .5rem;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #fff;
  overflow: hidden;
  float: left;
}

.category label {
  float: left; line-height: 1.5em;
  width: 8.0em; height: 1.5em;
  grid-area: checkbox;
}

.category input {
  position: absolute;
  color: #fff !important;
  display: none;
}

.category label{
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input:checked ~label{

  color: var(--neon-green);

}

.horizontalSeperation{

  border-bottom: 1px solid lightgrey;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  grid-area: seperation;

}

.buttonContainer{
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;

}

.submitButton {

  width: 6rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neon-green);
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-color: var(--neon-green);

}

.activity{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--greyish-blue);

}

.backButton {
  display: inline-block;
  justify-content: space-between;
  height: 2rem;
  width: 15rem;
  color: var(--neon-green);
  background: transparent;
  font-weight: bold;
  border: none;
  background: none;
  font-size: 1.2rem;
  position: fixed;
  left: 1rem;
  top: 1rem;

}

.basicInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 25rem;
  border-radius: 1rem;
  background-color: var(--dark-grayish-blue) ;
  color: white;
  box-shadow: var(--box-shadow);
}


.basicInfo h1 {
  text-align: center;
  font-size: 1rem;
  letter-spacing: .1rem;
  color:hsl(150, 100%, 66%);
  padding: 2.5rem;
}

.basicInfo p {
  padding: 3rem;
  margin-bottom: 4rem;
  text-align: center;
}

.moreInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 25rem;
  border-radius: 1rem;
  background-color: var(--dark-grayish-blue) ;
  color: white;
  line-height: 1.5rem;
  box-shadow: var(--box-shadow);
  overflow-y: scroll;

}
.moreInfo .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.moreInfo h1 {
  text-align: center;
  font-size: 1.5rem;

  letter-spacing: 0.25rem;
  color:hsl(150, 100%, 66%);
  padding: 2.5rem;
}

.moreInfo .infoName {
  font-weight: bold;
  font-size: 1rem;
}
.moreInfo .info .infoLocation{
  margin-top: 1rem;
}
.moreInfo .info .description {
  font-size: 0.80rem;
  text-align: justify;
  padding: 1rem 2.5rem 1rem 2.5rem;
}

.flippedButton {
  position: relative;
  left: 10.75rem;
  bottom: 1.5rem;
  height: 4rem;
  width: 4rem;
  border: 1px solid var(--neon-green);
  background: transparent;
  color: var(--neon-green);
  border-radius: 50%;
}

.skipButton{
  width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-color: white;
  margin-top: 1rem;
}

a {
  font-weight: bold;
  color: var(--light-cyan);
  padding-bottom: 2rem;
}

#loading {
  height: 2em;
  width: 4em;
  background-image: url('../../public/spinning-arrow.jpg');
  mix-blend-mode: multiply;
  margin-top: 12em;
  padding-top: 1.7em;
}

